{% extends "base.html" %}
{% load static %}

{% block title %}Sistema de Egresados{% endblock %}

{% block content %}
<style>
    .center-content {
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        color: #004e7f;
    }

    .center-content h1 {
        font-size: 8vw;
        line-height: 1.2;
    }

    .sub-text {
        color: #de8501;
        font-weight: bold;
        font-size: 1.5rem;
    }

    .btn-ingresar, .btn-registrate {
        font-weight: bold;
        padding: 15px 50px;
        font-size: 1.25rem;
        border-radius: 0;
        text-decoration: none;
        margin: 10px;
        width: 200px;
    }

    .btn-ingresar {
        background-color: #004e7f;
        color: white;
        border: none;
    }

    .btn-ingresar:hover {
        background-color: #003b60;
    }

    .btn-registrate {
        background-color: #de8501;
        color: white;
        border: none;
    }

    .btn-registrate:hover {
        background-color: #b26d00;
    }

    .logo-superior {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 150px;
    }

    .egresados-logo {
        position: absolute;
        bottom: 30px;
        left: 30px;
        width: 180px;
    }

    .botonera {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 20px;
    }
</style>

<img src="{% static 'img/logo_universidad.png' %}" alt="Logo universidad" class="logo-superior">
<img src="{% static 'img/egresados_cerca.png' %}" alt="Egresados + cerca" class="egresados-logo">

<div class="center-content">
    <h1 class="fw-bold">Sistema<br>de actualización<br> de Egresados</h1>
    <div class="botonera">
        <a href ="{% url 'enviar_alerta' %}" class="btn btn-ingresar">Enviar Alerta <br>📢</a>
        <a href ="{% url 'dashboard' %}" class="btn btn-ingresar">Ver estadísticas <br>📊</a>
        <a href ="{% url 'lista_usuarios' %}" class="btn btn-ingresar">Base de datos <br>🗂️</a>
        <a href="{% url 'editar_imagen_formulario' %}" class="btn btn-ingresar">Formulario <br>🖼️</a>
        <a href="{% url 'registro_completo_admin' %}" class="btn btn-registrate">Registrar Usuario<br>👤</a>

    </div>
</div>
{% endblock %}

