{% extends "base.html" %}

{% block title %}Inicio - Home{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <h1>¡Bienvenido, {{ user.username }}!</h1>
    <p class="lead">Esta es tu página de inicio personalizada.</p>

    <span class="absolute bottom-0 margin-left-20"> 
        <a href="{% url 'formulario' %}" class="btn btn-primary mt-3">Llenar formulario</a>

        <a href="{% url 'logout' %}" class="btn btn-danger mt-3">Cerrar sesión</a>
    </div>
</div>
{% endblock %}
